Task1/bin/
Task1/obj/
.vs/
TaskTwo/obj/
TaskTwo/bin/
TaskTwo/nlog.config
TaskThree/obj/
TaskThree/bin/
Task3/bin/
Task3/obj/
Task3/
TaskFour/obj/
TaskFour/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
TaskFour/bin/
