<div class="my-flex-container"></div>
@section scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>


        function generatePizzaCards(pizzas) {
            const container = $(".my-flex-container");
            container.empty();

            pizzas.forEach(pizza => {
                const cardHtml = `
                    <div class="flex-card">
                        <img class="card-img" data-id="${pizza.id}" src="${pizza.image}">
                        <a class="card-name" href="Details/${pizza.id}" >${pizza.name}</a>
                        <div class="card-ingredients">${pizza.ingredients}</div>
                        <div class="card-footer">
                            <div class="card-price">${pizza.price} &#8381;</div>
                            <div class="card-weight">${pizza.weight} гр.</div>
                            <a href="#" class="button-link">В корзину</a>
                        </div>
                    </div>
                `;
                container.append(cardHtml);
            });

            $('.card-img').on('click', function(){
            var pizzaId = $(this).data('id');
            if (pizzaId){
                var url='Details/' + encodeURIComponent(pizzaId);

                location.href = url;
            }


        });
        }

        

        $.ajax({
            url: "/Home/PizzaGetAll",
            type: "GET",
            dataType: "json",
            success: function (data) {
                generatePizzaCards(data);

            },
            error: function () {
                console.error("Ошибка при получении списка пицц");
            }
        });


    </script>
}